* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: whitesmoke;
    margin: 50px 500px;
}


.tips-list {
    font-family: Arial,Verdana,sans-serif;
    font-size: 14px;
    color: #585858;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tips-input {
    height: 0;
    width: 0;
}

.tips-input + label{
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
    position: relative;
}

.tips-input + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8em;
    width: 1.2em;
    height: 1.2em;
    background: #fff;
    border: 2px solid #9a9a9a;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

.tips-input:checked + label > span{
    border: .6em solid #04b893;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}

.tips-input:checked + label > span:before{
    content: "";
    position: absolute;
    top: .43em;
    left: .2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(.85);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes checkbox-check{
    0%{
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
        width: .2em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{
        width: .2em;
        height: .5em;
        border-color: #fff;
        transform: translate3d(0,-.5em,0) rotate(45deg);
    }
}